:root {
  --achtergrond: #cfdcd3;
  --grijs: #dcdddf;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.masthead {
  height: auto;
  min-height: 500px;
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--achtergrond) !important;
  font-family: helvetica, sans-serif;
}

main,
.wide-main-container {
  width: 1140px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  z-index: -1;
}

.wide-main-container {
  background-color: transparent;
  padding: 10px 20px;
}

header {
  z-index: 2;
}

.main-blog {
  padding: 0;
  background-color: transparent;
}

p {
  margin: 0 0 20px 0;
  text-align: justify;
}

p:last-child {
  margin: 0;
  font
}

.sidebar {
  position: sticky;
  top: 0;
  float: left;
  width: 20%;
  background-color: white;
  overflow: hidden;
  padding: 0 0 40px;
  box-sizing: border-box;
  height: 200px;
  height: calc(100vh - 40px);
  border-right: 1px solid #ddd;
}

.sidebar ul {
  font-style: none;
  list-style-type: none;
}

.sidebar ul li {
  margin-bottom: 5px;
}

.sidebar ul li:last-child {
  margin-bottom: 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #555;
  padding: 10px 40px;
  background-color: #e7e7e7;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #555;
  color: white;
}

.banner {
  width: 100%;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.blog {
  background-color: white;
  overflow: hidden;
  padding: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
}

.blog:last-child {
  border-bottom: 1px solid #fff;
}

.blog hr {
  margin-top: 5px;
  background-color: #999;
  border: none;
  height: 1px;
  width: 110%;
}

.blog p {
  margin: 10px 0;
}

.blog ul,
.blog ol {
  padding: 0 40px;
}

.blogtekst p {
  font-size: 2em;
}

.container {
  float: right;
  width: 80%;
  height: calc(100vh - 40px);
  overflow-y: auto;
}

.navbar {
  height: 40px;
  background-color: #555;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.navbar ul {
  display: block;
  text-align: center;
}

.navbar li {
  display: inline-block;
  font-size: 1.5em;
  text-decoration: none;
  line-height: 40px;
  margin: 0;
}

.navbar li:hover {
  background-color: rgba(207, 220, 211, 0.2);
}

.navbar a {
  text-decoration: none;
  padding: 0 20px;
  color: #fff;
}

.wide-main {
  background-color: #fff;
  padding: 20px;
  margin: 0 calc(-25vw + 25%);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.wide-main-container {
  margin: 0 auto;
}

.wide-main p {
  width: 100%;
}

.dark {
  background-color: #555;
  color: #fff;
}

.links {
  float: left;
  overflow: hidden;
  width: 37%;
}

.rechts {
  float: right;
  overflow: hidden;
  width: 63%;
}

.dark-right {
  background-color: #555;
  padding: 40px;
  color: #fff;
}

.foto-home {
  width: 20vw;
  display: block;
  margin: 0 auto 40px;
}

#foto-sidebar {
  width: 75%;
  margin: 20px auto;
  display: block;
}

.wide-main-list {
  margin: 0 0 20px 30px;
}

.wide-main-list:last-child {
  margin: 0 0 0 30px;
} */
